<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <h2>Tasks</h2>
            <table>
            <thead>
                <tr>
                <th>Task</th>
                <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
            {% for tasks in todo_list_detail.items.all %}
                <tr>
                    <td>{{ tasks.task }}</td>
                    <td>{{ tasks.due_date| date:"F d Y" }}</td>
               </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </main>

</body>
</html>